page-autocomplete {
    ion-modal {
    /* left: 0; */
    /* top: 0; */
    margin: 110px auto;
    position: static;
    position: relative;
    display: block;
    width: 70%;
    height: 50%;
    contain: strict;
  }
}
