page-request-details {
    ion-navbar.toolbar{
        background-color: gray !important;
    }
    .heading{
        font-weight: bolder ;
    }
    ion-modal{
        height: 70% !important;
        width: 80% !important;
        margin: 56px !important;
    }
}
