<!--
  Generated template for the CreateRequestPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Create Request</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  
  <div *ngIf="request=='done'">
    <h1>Request has been logged.</h1>
  </div>
  <div *ngIf="request=='error'">
    <h1>There was some error while logging your request.Try again after sometime.</h1>
  </div>

   <form (ngSubmit)="logRequest()">

      <ion-item>
        <ion-label floating>Type of Request</ion-label>  
        <ion-input type="text" required [(ngModel)]="reqtype" name="reqtype" ></ion-input>
      </ion-item>

      
      <ion-item>  
        <ion-label floating>Phone Number</ion-label>
        <ion-input type="text" required [(ngModel)]="phone" name="phone" ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Description</ion-label>
        <ion-textarea [(ngModel)]="reqdesc" name="reqdesc"></ion-textarea>
      </ion-item>

      <!--<ion-item>
        <ion-label floating>Status</ion-label>
        <ion-select [(ngModel)]="status" name="status">
          <ion-option value="Active">Active</ion-option>
          <ion-option  value="In Progress">In Progress</ion-option>
          <ion-option  value="Completed">Completed</ion-option>
        </ion-select>
      </ion-item>-->

      <button ion-button type="submit" block>Log Request</button>
    </form>
</ion-content>
